<div class="col-xs-12">

    <table class = "table">
		<thead>
			<tr class="active">
				<th>カテゴリー</th>
			</tr>
		</thead>
		<% @menu_categories.each do |menu_category| %>
		<tr>
			<td><%= link_to menu_category.menu_category_name, customer %></td>
		</tr>
		<% end %>
	</table>
</div>