<h1>「どこで飲もうかな？」とは</h1>
<p>今日、帰りに近所で一杯飲みたいぐらいな気分の時に、お店選びをサポートするサービスです。</p>
<p>お店側の発信ができたり、常連さん同士でおすすめメニューを共有できます</p>

<h2>このアプリでできること</h2>

<h3>飲食店のみなさん</h3>
<ul>
	<li>空席情報の表示・更新（非公表も可能）</li>
	<li>メニューの表示・更新</li>
	<li>店舗最新情報の投稿</li>
	<li>店舗画像の投稿</li>
</ul>

<h3>飲食店のみなさん</h3>
<ul>
	<li>メニューのいいね機能によるおすすめメニューの共有</li>
	<li>空席情報を確認</li>
	<li>店舗最新情報の閲覧</li>
	<li>店舗画像の投稿</li>
</ul>




<div>ロゴは <a href="https://www.designevo.com/jp/logo-maker/" title="無料オンラインロゴメーカー">DesignEvo</a> で作成しました</div>