<div class="row">
  <h2 class="head">店舗投稿写真一覧</h2>
  <ul class="product-group clearfix">
      <% @restaurant.resutaurant_images.each do |resutaurant_image| %>
        <div class="col-md-2">
          <%= link_to admin_restaurant_image_path(resutaurant_image) do %>
            <%= attachment_image_tag(resutaurant_image, :image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120') %>
            <p><%= restauran_image.title %></p>
          <% end %>
        </div>
      <% end %>
  </ul>
</div>
